# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!Makefile
!*.yaml

!.release-please-manifest.json
!release-please-config.json
!.goreleaser.yml
!.gitleaks.toml
!.yamllint
!.golangci.toml
!.golic.yaml
!.licignore
!Dockerfile
!CODEOWNERS
!README.md
!LICENSE
!renovate.json

# ...even if they are in subdirectories
!*/
